@use "./variables" as *;

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}

body {
  font-family: $font-body;
  color: var(--text-color);
  background-color: var(--bg-color);
  font-size: 1.6rem;
}

@media (prefers-reduced-motion: reduce) {
  * {
    transition: none !important;
  }
}
