/* font */
$font-body: "Inter", sans-serif;
$font-heading: "Poppins", sans-serif;

/* spacing */
$space-1: 0.4rem;
$space-2: 0.8rem;
$space-3: 1.2rem;
$space-4: 1.6rem;
$space-5: 2rem;
$space-6: 2.4rem;
$space-7: 2.8rem;
$space-8: 3.2rem;
$space-9: 3.6rem;
$space-10: 4rem;
$space-11: 4.4rem;
$space-12: 4.8rem;

/* section spacing */
$section-spacing-xxs: 2rem;
$section-spacing-xs: 4rem;
$section-spacing-s: 6rem;
$section-spacing-m: 8rem;
$section-spacing-l: 10rem;
$section-spacing-xl: 12rem;
$section-spacing-xxl: 14rem;

/* colors */
$neutral-color-100: hsl(216, 33%, 97%);
$neutral-color-150: hsl(216, 27%, 94%);
$neutral-color-200: hsl(216, 25%, 91%);
$neutral-color-250: hsl(216, 23%, 87%);
$neutral-color-300: hsl(217, 20%, 84%);
$neutral-color-350: hsl(217, 18%, 76%);
$neutral-color-400: hsl(217, 17%, 71%);
$neutral-color-450: hsl(217, 15%, 66%);
$neutral-color-500: hsl(217, 13%, 52%);
$neutral-color-550: hsl(217, 12%, 45%);
$neutral-color-600: hsl(217, 14%, 37%);
$neutral-color-650: hsl(217, 14%, 31%);
$neutral-color-700: hsl(215, 15%, 23%);
$neutral-color-750: hsl(218, 14%, 19%);
$neutral-color-800: hsl(218, 15%, 14%);
$neutral-color-850: hsl(220, 15%, 10%);
$neutral-color-900: hsl(220, 20%, 7%);

$primary-color-50: hsl(327, 73%, 97%);
$primary-color-100: hsl(326, 78%, 95%);
$primary-color-200: hsl(326, 88%, 90%);
$primary-color-300: hsl(328, 98%, 82%);
$primary-color-400: hsl(327, 95%, 69%);
$primary-color-500: hsl(328, 92%, 58%);
$primary-color-600: hsl(329, 100%, 45%);
$primary-color-700: hsl(332, 100%, 39%);
$primary-color-800: hsl(332, 100%, 32%);
$primary-color-900: hsl(334, 79%, 29%);
$primary-color-950: hsl(335, 91%, 17%);

$secondary-color-50: hsl(166, 76%, 97%);
$secondary-color-100: hsl(168, 86%, 89%);
$secondary-color-200: hsl(168, 86%, 78%);
$secondary-color-300: hsl(171, 81%, 60%);
$secondary-color-400: hsl(173, 100%, 42%);
$secondary-color-500: hsl(174, 100%, 37%);
$secondary-color-600: hsl(175, 100%, 29%);
$secondary-color-700: hsl(176, 100%, 24%);
$secondary-color-800: hsl(177, 100%, 19%);
$secondary-color-900: hsl(176, 76%, 18%);
$secondary-color-950: hsl(179, 92%, 10%);
