.menu {
  ul {
    display: flex;
    gap: $space-3;
    align-items: center;
  }
  a {
    transition: color 0.2s ease;
    font-size: 1.6rem;
    font-weight: 500;
    position: relative;
    color: var(--text-color-secondary);
    padding-block: $space-1;
    &:hover:not(.active) {
      color: var(--accent-color-hover);
    }
    &.active {
      color: var(--accent-color);
      font-weight: 600;
    }
    &:focus-visible {
      outline: 0.2rem solid var(--focus-outline);
      outline-offset: 0.3rem;
      border-radius: 0.2rem;
    }
  }
}
